<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=http://www.w3.org/1999/xhtml xml:lang="es" lang="es">
<head>
	<title>Telemaco - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    <div id="sidebar">
		<ul class="navbar">
			<li><a href="/">Inicio</a> </li>
			
	        {% if user.is_authenticated %}
	        	Bienvenido {{ user.username }}
    	        <li><a href="/accounts/password/change/">Cambiar contraseña</a></li>
    	        <li><a href="/accounts/password/reset/">Reset contraseña</a></li>
	            <li><a href="/accounts/logout/">Salir</a></li>
	        {% else %}
	            <li><a href="/accounts/login/">Acceder</a></li>
	            <li><a href="/accounts/register/">Registrar</a></li>
	        {% endif %}
	         
			<br/>
			
			<li><a href="/admin/">Administración</a> </li>
		</ul>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
        <br><hr>
		<div class="right">Diego Martín-Serrano, 2012</div>
    </div>
</body>
</html>
